@import url(reset.css);

body{ /* corpo da pagina (tudo que está dentro do bory) */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* fontes da pagina */
    color: #ffffff; /* cor da fonte */
    min-height: 100vh; /* ultiliza 100% da pagina */
    display: flex; 
    flex-direction: column; /* os items são colocados de cima para baixo */
    background-color: black; /* cor do fundo da pagina */
}

.container{ /* mexendo nas propriedades do container (tudo que esta dentro do container ou div) */
    display: flex;
    flex-direction: column; /* deixa os elementos alinhados em coluna */
    flex-grow: 1; /* oculpa todo espaço vertical dentro do container */
    margin: 2px; 
}

header, footer{
    background-color: gray;
    padding: 20px; /* espacamento interno */
    display: flex;
    justify-content: space-around; 
}

header{
    justify-content: end;
    text-align: center;
    font-size: 100px;
}

footer{
    justify-content: left;
    text-align: center;
    font-size: 100px;
}

main{
    background-color: #2c3e50;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse; /* os items são colocados de baixo para cima */
    justify-content: space-around; /* os items são exibidos com espaçamento igual ao redor deles */
    align-items: center; /* alinhas os item ao centro */
    height: 300px;
    font-size: 100px; /* aumenta o tamanho da fonte */
    text-align: center; /* centraliza o conteúdo */
}

.item{
    background-color: #f39c12; /* cor de fundo */
    color: #ffffff; /* cor da fonte */
    width: 100px; /* largura */
    height: 100px; /* altura */
    border-radius: 5px; /* bordas */
}

.item-1{
    background-color: black;    
}

.item-2{
    background-color: red;
}

.item-3{
    background-color: blue;
}

.item-4{
    background-color: orange;
}

.item-5{
    background-color: green;
}